.company-name {
	padding: 20px;
	margin: 30px auto 0;
	max-width: 1235px;
}

.company-name__info {
	color: #0a0a0a;
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 0 auto 15px;
}

.info-btn {
	cursor: pointer;
}

.company-name__info-about {
	font-size: 22px;
	line-height: 1.4em;
}

.collapse-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.collapse-text-mobile {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.display-hide {
	visibility: hidden;
}
