html {	scroll-behavior: smooth;}
.container-insta {
	max-width: 1170px;
	margin: 0 auto;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-wrapper {
	position: relative;
}
.nav {
	display: none;
}

.slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.slider-line {
	overflow: hidden;
	touch-action: none;
	-webkit-touch-action: none;
	-moz-touch-action: none;
}

.slider-slide {
	min-height: 1px;
	float: left;
	transform: translate(0);
}

.slide-one img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	object-fit: cover;
	width: 100%;
	pointer-events: none;
}

.slider-dot {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.slider-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.action-img {
	max-width: 130px;
	border-radius: 100%;
	margin-bottom: 30px;
	width: 100%;
	pointer-events: none;
}

.dot {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 10px;
	margin-right: 3px;
	margin-left: 3px;
	cursor: pointer;
	background-color: #ccc;
	background-clip: padding-box;
	border: none;
	border-radius: 3px;
	transition: all 0.3s;
	outline: none;
	padding: 0;
}

.dot:hover,
.dot-active {
	background: #888;
}
